<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <!-- <link rel="stylesheet" href="/styles/content.css"> -->
    <title>Document</title>
</head>
<header>
  <div class="navbar">        
    <ul>
      <li >
        <a  href="/"><i ></i>Home</a>
      </li>
      <li >
        <a  href="/login"><i ></i>Login</a>
      </li>
      <li >
        <a  href="/register"><i ></i>Register</a>
      </li>

    </ul></div>
  </header>
  <main class="container">